/* Header */
.landingPage__header {
    background-image: url("../images/Aguirangan_Island_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 170px 110px rgba(9, 33, 45, 0.65),inset 0px -160px 110px rgba(9, 33, 45, 0.65);
  }
  .landingPage__header .header-content {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .landingPage__header .header-content h1,
  .waterSports__header .header-content h1,
  .about__header .header-content h1,
  .lahosIsland__header .header-content h1 {
    font-size: clamp(2rem, 6vw, 8rem);
    text-shadow: 0px 2px 3px rgba(9, 33, 45, 0.65);
  }
  /* Destination Carousel */
  .carousel-content .slick-prev {
    left: 5px;
    z-index: 5;
  }
  .carousel-content .slick-next {
    right: 25px;
    z-index: 5;
  }
  .destination-section .slick-slide>div {
    padding: 0 15px;
  }
  .carousel-content .slick-prev::before {
    content: "\f104";
    font-family: FontAwesome;
    background-color: #fff;
    color: #000;
    font-size: 35px;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45px;
    height: 45px;
    padding-left: 14px;
    box-shadow: 5px 5px 10px #000;
  }
  .carousel-content .slick-next::before {
    content: "\f105";
    font-family: FontAwesome;
    background-color: #fff;
    color: #000;
    font-size: 35px;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45px;
    height: 45px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px #000;
  }
  .carousel-content img {
    border-radius: 10px 10px 0 0;
  }
  /* Tour Package */
  .tour-package__content .card .card-img-overlay {
    box-shadow: inset 0px 70px 30px rgba(9, 33, 45, 0.65),inset 0px -70px 50px rgba(9, 33, 45, 0.65);
  }
  /* Hotel and Resort */
  .hotelAndResort__section {
    background-image: url(../images/HotelAndResortBG.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 400px 100px rgb(9 33 45 / 95%), inset 0px -600px 390px rgb(9 33 45 / 95%);
  }
  .hotelAndResort__section .card .card-img-overlay {
    box-shadow: inset 0px 60px 60px rgb(9 33 45 / 65%), inset 0px -90px 30px rgb(9 33 45 / 65%);
  }
  .hotelAndResort__section .card .badge {
    width: 20%;
    background: linear-gradient(to left, rgba(247,247,49,1) 0%,rgba(255,255,255,0) 90%);
  }
  /* Testimonial Carousel */
  .testimonial_section .slick-slider {
    margin: 30px auto 0;
  }
  .testimonial_section .slick-slide>div {
    margin: 0 100px;
  }
  .testimonial_section .thumbnail .slick-slide>div {
    margin: 0;
    padding: 0 10px;
  }
  .testimonial_section .main-slide .card-body {
    border-left: 0;
  }
  
  
  /* TOUR PAGE STYLE */
  .waterSports__header .header-content .overlay-bg,
  .about__header .header-content .overlay-bg,
  .lahosIsland__header .header-content .overlay-bg,
  .tourPackages-slider .slick-slide .card-body {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(35,42,48,0.40);
  }
  .waterSports__header .header-content h1,
  .about__header .header-content h1,
  .lahosIsland__header .header-content h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about__header nav {
    padding-top: .5rem;
  }
  /* Tour Packages */
  #tourPackagesSlider .carousel-inner .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(35,42,48,0.40);
  }
  .navAndTabs .nav a {
    color: #F6AE01;
    background-color: #042359;
    margin: 0 10px;
  }
  .navAndTabs .nav a.active {
    background-color: #F6AE01;
    color: #042359;
  }
  .tab-content table tr td, .tab-content ul li {
    font-family:'Gilroy-Medium', sans-serif;
  }
  .tab-content ul li {
    list-style-type: disc;
  }
  
  /* Hotel And Resort Page */
  .togaweResort_context .card{
    box-shadow: 0px 4px 10px rgb(3 18 26 / 15%);
  }
  
  /* Feature Color Palette */
  .colorPallete {
    position: fixed;
    width: 100%;
    height: auto;
    right: 0%;
    left: -220px;
    top: 40%;
    transition: left .3s ease-out;
    z-index: 999;
  }
  .colorPallete.active {
    left: 0%;
  }
  .paintHandler {
    position: absolute;
    top: 0;
    left: 230px;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .colorPallete_context {
    position: absolute;
    background: #09212D;
    width: auto;
    height: auto;
    border-radius: 0px 0 8px 0px;
  }
  
  @media (max-width: 991px) {
    .search-bar .fa-search {
      left: 0;
    }
    .testimonial_section .main-slide .card-body {
      border-left: 10px solid #F6AE01;
    }
  }
  @media (max-width: 766px) {
    .testimonial_section .slick-slide>div {
      margin: 0 30px;
    }
  }
  @media (max-width: 575px) {
    .navAndTabs .nav a {
      margin: 5px 0;
    }
  }
  @media (max-width: 480px) {
    .testimonial_section .slick-slide>div {
      margin: 0;
    }
  }